/* -----------------------------------------------------------------*/
/* Global reset for every element */
/* -----------------------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------------------------*/
/* Global styles */
/* -----------------------------------------------------------------*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    line-height: 1.5;
}
a {
    color: #262626;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* -----------------------------------------------------------------*/
/* Utility styles */
/* -----------------------------------------------------------------*/
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: #ffffff;
    font-size: 15px;
}
.btn:hover {
    opacity: 0.9;
}
.dark-bg {
    color: #ffffff;
}
.dark-bg .btn {
    background-color: #f4f4f4;
    color: #333333;
}

/* -----------------------------------------------------------------*/
/* Navigation styles */
/* -----------------------------------------------------------------*/
.main-nav {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    justify-content: space-between;
}
.main-nav .logo {
    width: 110px;
}
.main-nav ul {
    display: flex;
}
.main-nav ul li {
    padding: 0 10px;
}
.main-nav ul li a {
    padding-bottom: 2px;
}
.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}
.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 34px;
    z-index: 2;
    display: none;
}

/* -----------------------------------------------------------------*/
/* Showcase styles */
/* -----------------------------------------------------------------*/
.showcase {
    width: 100%;
    height: 400px;
    background: url('./img/showcase.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.showcase h2,
.showcase p {
    margin-bottom: 10px;
}
.showcase .btn {
    margin-top: 20px;
}

/* -----------------------------------------------------------------*/
/* Home cards styles */
/* -----------------------------------------------------------------*/
.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}
.home-cards img {
    width: 100%;
    margin-bottom: 20px;
}
.home-cards h3 {
    margin-bottom: 5px;
}
.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}
.home-cards a:hover i {
    margin-left: 10px;
}

/* -----------------------------------------------------------------*/
/* Xbox styles */
/* -----------------------------------------------------------------*/
.xbox {
    height: 350px;
    width: 100%;
    background: url('img/xbox.png') no-repeat center center/cover;
    margin-bottom: 20px;
}
.xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;
}
.xbox p {
    margin: 10px 0 20px;
}

/* -----------------------------------------------------------------*/
/* Carbon Negative styles */
/* -----------------------------------------------------------------*/
.carbon-negative {
    height: 350px;
    width: 100%;
    background: url('./img/carbon-negative.jpg') no-repeat center center/cover;
}
.carbon-negative .content {
    width: 55%;
    padding: 100px 0 0 30px;
}
.carbon-negative p {
    margin: 10px 0 20px;
}

/* -----------------------------------------------------------------*/
/* Social Media styles */
/* -----------------------------------------------------------------*/
.social-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
}
.social-media * {
    margin-right: 10px;
}

/* -----------------------------------------------------------------*/
/* Links styles */
/* -----------------------------------------------------------------*/
.links {
    background-color: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.links li {
    line-height: 2.8;
}


/* -----------------------------------------------------------------*/
/* Footer styles */
/* -----------------------------------------------------------------*/
.footer {
    background-color: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}
.footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.footer div i {
    margin-right: 10px;
}
.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-inner ul {
    display: flex;
    flex-wrap: wrap;
}
.footer li {
    margin-right: 30px;
    margin-bottom: 20px;
}

/* -----------------------------------------------------------------*/
/* Media Query for devices < 700px */
/* -----------------------------------------------------------------*/
@media(max-width: 700px) {
    /* Display the hamburger menu */
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }

    /* Push the icons to the left when the hamburger menu is displayed */
    .main-nav ul.right-menu {
        margin-right: 25px;
    }

    /* Put the menu items into the hamburger menu sidenav */
    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: 1px solid #cccccc;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }
    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: 1px solid #cccccc;
        font-size: 14px;
    }
    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }

    /* Show the sidenav when the hamburger menu is clicked */
    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
    }

    /* Change the grid for the cards */
    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Remove the paragraph and add a larger margin to the heading for the Xbox content */
    .xbox .content p {
        display: none;
    }
    .xbox .content h2 {
        margin-bottom: 20px;
    }

    /* Increase width of the content for the carbon negative content */
    .carbon-negative .content {
        width: 85%;
    }

    /* Change the grid for the links */
    .links .links-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -----------------------------------------------------------------*/
/* Media Query for devices < 500px */
/* -----------------------------------------------------------------*/
@media(max-width: 500px) {
    /* Change the grid for the cards */
    .home-cards {
        grid-template-columns: 1fr;
    }

    /* Change the grid for the links */
    .links .links-inner {
        grid-template-columns: 1fr;
    }

    /* Add more margin to the bottom of the lists */
    .links .links-inner ul {
        margin-bottom: 20px;
    }
}